################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/NotificacionesPush/.vs/NotificacionesPush/v15/Server/sqlite3
